<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
    <link rel="stylesheet" type="text/less" href="<%= rootURL %>/assets/less/main.less" />
    <script src="https://cdn.ravenjs.com/3.24.2/raven.min.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <script>
      window.apiKey = "<%= apiKey %>";
      window.appAuth = "<%= appAuth %>";
      window.shopOrigin = "https://<%= shop %>";
      window.shop_domain = "<%= shop %>";
      window.rootURL = "<%= rootURL %>";
      window.products = <%- products %>;

      const shopifyAppConfig = {
        apiKey: window.apiKey,
        shopOrigin: window.shopOrigin,
      };

      // This will allow you to access the app outside of the Shopify
      // parent iframe in development mode. Doing this will give you
      // access to React and Redux dev tools, but will also disrupt
      // postmessages to the parent and block EASDK calls
      // https://help.shopify.com/api/sdks/shopify-apps/embedded-app-sdk/methods#shopifyapp-init-config
      if ("<%= process.env.NODE_ENV %>" === 'development') {
        shopifyAppConfig.forceRedirect = false;
      }

      ShopifyApp.init(shopifyAppConfig);
    </script>
    <style>
      #style-settings-panel .Polaris-FormLayout__Items {
        align-items: flex-start !important;
      }
    </style>
    <div id="root"></div>
    <script src="<%= rootURL %>/assets/js/vendor/fabric-test.js"></script>
    <%if (env === "production") { %>
      <script src="<%= rootURL %>/assets/js/vendor/fabric-test.js?v=0.1" async></script>
      <script src="<%= rootURL %>/build/style.js" async></script>
    <% }  else { %>
      <script src="<%= rootURL %>/assets/js/vendor/fabric.js" async></script>
      <script src="<%= rootURL %>/assets/style.js" async></script>
    <% } %>
    <script src="<%= scriptSrc %>?v=<%= version %>" ></script>
  </body>
</html>